*{
    margin: 0;
    padding: 0;
}
body{
  overflow: auto;
}
.header{
    width: 100%;
    height: 130px;
    background-color: 333333;
}
content{
    width: 100%;
}
.hdiv1{
    color: eeeeee;
    font-family: 'Myriad Pro';
    text-align: center;
    line-height: 130px;
    font-size: 60pt;
    float: left;
    margin-left: 70px;
}
.hdiv2{
    color: eeeeee;
    font-family: Arial, Helvetica;
    text-align: center;
    line-height: 130px;
    font-size: 16pt;
    float: right;
    margin-right: 70px;
}
.home{
    color: 00bff3;
}
.div1{
    margin-top: 68px;
    color: 333333;
    font-family: 'Myriad Pro';
    font-weight: bold;
    font-size: 60pt;
    text-align: left;
    margin-left: 70px;
}
.div2{
    height: 120px;
    color: bbbbbb;
    font-family: 'Myriad Pro';
    font-weight: bold;
    font-size: 50pt;
    text-align: left;
    margin: 0px 70px;
    padding-bottom: 40 px; 
    border-bottom: 4px dotted grey;  
}
.div3{
    height: 190px;
    color: 555555;
    font-family: 'Myriad Pro';
    font-size: 34pt;
    text-align: left;
    margin: 40px 70px;
    border-bottom: 4px dotted grey;   
}
.block{
    height: 400px;
    margin: 0px 70px;
    font-family: 'Myriad Pro';
}
.block1{
    height: 400px;
    width: 30%;
    text-align: center;
    background-color: 00aeef;
    float: left; 
    filter: drop-shadow(0 0 10px grey);
}
.block2{
    height: 400px;
    width: 30%;
    text-align: center;
    background-color: 00aeef;
    float: left;
    margin-left: 70px;
    filter: drop-shadow(0 0 10px grey);
}
.fblock{
    height: 80px;
    font-size: 40pt;
    color: white;
    line-height: 80px;
    border-bottom: 2px dotted white;
}
.sblock{
    font-family: Arial;
    font-size: 14pt;
    color: white;
    margin: 40px 40px;
}
.button-block{
    height: 40px;
    width: 300px;
    background-color: 0076a3;
    font-family: 'Myriad Pro';
    font-size: 18pt;
    color: white;
    line-height: 40px;
    text-align: center;
    border-color: 165f7a;
}
.footer{
    color: 888888;
    font-family: Arial;
    font-size: 16pt;
    margin-left: 70px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.client{
    width: 92%;
    height: 570px;
    margin-top: 50px;
    margin-left: 70px;
    border-bottom: 4px dotted grey;  
    border-top: 4px dotted grey; 
}
.client1{
    width: 47%;
    float: left;
    padding-top: 40px;
}
.client2{
    width: 47% ;
    float: left;
    padding-top: 40px;
    padding-left: 70px;
    border-left: 4px dotted grey;   
}
.fclient{
    font-family: Arial;
    font-size: 16pt;
    color: 555555;
}
.div-box{
    margin-top: 40px;
}
.box{
    width: 110px;
    height: 110px;
    background-color: cccccc;
    float: left;
    margin-right: 30px;
}
.box1{
    font-family: Arial;
    font-size: 14pt;
    color: 555555;
    line-height: 20pt;
}
.empty{
    margin-bottom: 14px;
}
.box2{
    font-family: Arial;
    font-size: 20pt;
    color: 888888;
}
img{
    background-image: url("./img.jpg");
    background-repeat: no-repeat;
    width: 60%;
    height: auto;
    object-fit: cover;
    filter: drop-shadow(0 0 5px grey);
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.div-box2{
    margin-top: 30px;
}
a{
    text-decoration: none;
    color: 00bff3;
    font-family: Arial;
    font-size: 14pt;
}
.div-a{
    margin-bottom: 20px;
}
